*{
    padding: 5px;
}
footer,header{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
#logo{
    width: 50px;
}
h2{
    color: white;
}