*{
    padding: 5px;
}
footer,header{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#event{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
#logo{
    width: 50px;
}
h2{
    color: white;
}
#about{
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 10px;
    font-family: arial, sans-serif;
}
#about:hover{
    background-color: rgb(94, 88, 88);
}